.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.avatar img {
    height: 75% !important;
    -o-object-fit: contain !important;
    object-fit: contain !important;

