---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section>
    <h1>About us</h1>
    <p>With great power comes great responsibility. Cyberwolf protects the private lives of boards, executives, and UHNWI. Our personal cybersecurity service combines the best enterprise-grade security technology with a collective of cyberexperts ready to fight by their side. We've got their digital backs. Worldwide, 24/7.</p>
  </section>
</BaseLayout>
