---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    With over a decade of experience as a Cybersecurity Architect and Analyst, I
    specialize in intelligence analysis, cloud security, and collaborative program
    development. My expertise includes designing and implementing comprehensive
    security frameworks, managed intelligence collection and information analysis
    efforts. I excel at identifying vulnerabilities and devising strategic mitigation
    plans. My adaptability, teamwork, and continuous learning drive me to stay ahead of
    emerging threats, ensuring robust protection for digital environments.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Homeland Security and Cybersecurity"
      subtitle="2022 to 2023 at University of Colorado Online, Colorado Springs CO"
    />
    <TimeLineElement
      title="Computer Systems and systems Management"
      subtitle="2022 to 2023 at University of Colorado Online, Colorado Springs CO"
    />
    <TimeLineElement
      title="Cyber Defense"
      subtitle="2020 to 2022 at University of Colorado Online, Colorado Springs CO"
    />
    <TimeLineElement
      title="Media Technologies"
      subtitle="2008 to 2013 at University of Colorado Online, Colorado Springs CO"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Cloud Security Engineer II"
      subtitle="2023 - Present | Pilot Company, Knoxville TN"
    >
    
    </TimeLineElement>
    <TimeLineElement
      title="Senior Security Engineer"
      subtitle="2022 - 2023 | Provisions Group, Franklin TN"
    >
      
    </TimeLineElement>
    <TimeLineElement
      title="Director of Information Security"
      subtitle="2018 - 2022 | Threds Inc, Knoxville TN"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Cloud Engineer and Data Protection Officer"
      subtitle="2013 - 2018 | Threds Inc, Knoxville TN"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Ramp Supervisor"
      subtitle="2006 - 2008 | McGhee Tyson Airport, Alcoa TN"
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
