<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    
    <a href="https://github.com/chatala1" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.1-1.46-1.1-1.46-.9-.617.068-.605.068-.605.997.071 1.524 1.025 1.524 1.025.888 1.52 2.328 1.082 2.894.827.09-.644.348-1.082.635-1.33-2.216-.251-4.553-1.108-4.553-4.935 0-1.09.389-1.982 1.023-2.681-.102-.252-.445-1.265.098-2.636 0 0 .836-.268 2.742 1.021a9.543 9.543 0 0 1 2.498-.336c.848.004 1.705.114 2.498.336 1.906-1.289 2.742-1.021 2.742-1.021.543 1.371.201 2.384.099 2.636.635.699 1.023 1.591 1.023 2.681 0 3.837-2.338 4.682-4.561 4.928.359.309.678.921.678 1.855 0 1.338-.011 2.419-.011 2.747 0 .268.179.576.688.478 3.965-1.321 6.82-5.059 6.82-9.463 0-5.509-4.465-9.974-9.974-9.974z"
            ></path>
        </svg>
    </a>
    
    <a
        href="https://www.linkedin.com/in/chadhatala"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
        title="Linkedin"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.681h-3.618c.048.749 0 12.14 0 12.14h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.681H9.237z"
            ></path>
        </svg>
    </a>

    <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a>
</div>
